parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       smtp.mandrillapp.com
    mailer_user:       ahmedgroup@unimasr.net
    mailer_password:   crnFdig6pM0rlrzbuIc8fQ

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
    admin_email:       ahmed@zamayel.com