{% extends 'AhmedBlogBundle::layout.html.twig' %}

{% block content -%}


    <div class="col-sm-8">
        <h3>Login</h3>
        <div class="list-group">
            {% render url('fos_user_security_login') %}
        </div>
    </div>      




{% endblock %}




